:root {
    --c-white: #ffffff;
    --c-white-soft: #f8f8f8;
    --c-white-mute: #f2f2f2;

    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;

    --c-text-light-1: rgba(255, 255, 255, 0.90);
    --c-text-light-2: rgba(255, 255, 255, 0.6);
    --c-text-dark-1: rgba(0, 0, 0, 0.9);
    --c-text-dark-2: rgba(0, 0, 0, 0.8);

    --c-green: #2b8f71;

    --c-salmon: #FFD7C2;
}

/* semantic color variables for this project */
:root {
    --color-background: var(--c-salmon);
    --color-background-soft: var(--c-white-soft);
    --color-background-mute: var(--c-white-mute);

    --color-heading: var(--c-text-dark-1);
    --color-text: var(--c-text-dark-2);
    --color-text-hover: var(--c-text-light-1);
    --section-gap: 160px;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--vt-c-black);
        --color-background-soft: var(--vt-c-black-soft);
        --color-background-mute: var(--vt-c-black-mute);

        --color-heading: var(--c-text-dark-1);
        --color-text: var(--c-text-dark-2);
        --color-text-hover: var(--c-text-dark-1);
    }
    }*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.15s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}
