@import "tailwindcss";

:root {
    font-family:
        system-ui,
        sans-serif;

    font-smooth: always;
}

@theme {
    /* Light version of the primary */
    --color-primary: oklch(0.735 0.152 28.06);
    --color-surface: oklch(0.977 0.011 31.066);
    --color-surface-container: oklch(0.9273 0.011 31.066);
}
