@import './base.css';

#app {
    margin: 0 auto;
    font-weight: normal;
}

a {
    text-decoration: none;
    padding: 3px;
}

@media (hover: hover) {
    a:hover {
        color: var(--color-text-hover);
    }
}

@media (min-width: 1024px) {
    body {}

    #app {}
}
