@import './base.css';

#app {
    margin: 0 auto;
    font-weight: normal;

    font-size: 1.3rem;
}

a {
    text-decoration: underline;
    color: var(--color-text);
}

@media (hover: hover) {
    a:hover {
        color: var(--color-text-hover);
    }
}

@media (min-width: 1024px) {
    body {}

    #app {}
}

h1 {
    font-size: 6rem;
    line-height: 5rem;
    font-weight: bold;
}

h2 {
    font-size: 3rem;
    line-height: 5rem;
    font-weight: bold;
}

h3 {
    font-size: 2rem;
    line-height: 5rem;
    font-weight: bold;
}
