@import './base.css';

#app {
    margin: 0 auto;
    font-weight: normal;
}

a {
    text-decoration: none;
    padding: 3px;
}

@media (hover: hover) {
    a:hover {
        color: var(--color-text-hover);
    }
}

@media (min-width: 1024px) {
    body {}

    #app {}
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted var(--color-text);
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;

    margin-left: 16px;
    color: var(--color-text-hover);
    background-color: var(--color-background-mute);
    padding: 8px;
    position: absolute;
    z-index: 1;

    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
