@import "tailwindcss";

:root {
    font-family:
        system-ui,
        sans-serif;

    font-smooth: always;
}

@theme {
    /* Light version of the primary */
    --color-primary: oklch(0.735 0.152 28.06);
    --color-surface: oklch(0.977 0.011 31.066);
    --color-surface-container: oklch(0.9273 0.011 31.066);
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

.slide-fade-enter-active {
    transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}
