@import 'tailwindcss';

:root {
  font-family: 'Inter', system-ui, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  color: #1f2937;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1f2937;
}

@theme {
  /* Light version of the primary */
  --color-primary: oklch(0.735 0.152 28.06);
  --color-primary-faded: oklch(0.535 0.052 20.06);
  --color-surface: oklch(0.977 0.011 31.066);
  --color-surface-container: oklch(0.9273 0.011 31.066);
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.2s ease;
}

.v-enter-from,
.v-leave-to {
  transition: opacity 0.2s ease;
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 1s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
